@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 18
  
}
:root{
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --primary-color:#5c97fe; 
}
body{
    height: 100vh;
    background: var(--sidebar-color);
    overflow: hidden;
    position: relative;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    background: var(--sidebar-color);
    padding: 10px 14px;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 1px 8px 0px #c4bdbd;
    z-index: 12000;
}
.sidebar.close{
    width: 83px;
    transition: all 0.3s ease-in-out;
    z-index: 1300;

}
.sidebar.close .text{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.sidebar .menu-bar{
    margin-top: 40px;
    display: flex;
    height: calc(100% - 100px);
    justify-content: space-between;
    flex-direction: column;
}
.sidebar li{
    height: 40px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    padding: -10px;
    transition: all 0.3s ease-in-out;
}
.sidebar li .icon{
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.sidebar header .image-text{
  display: flex;
  align-items: center;
  padding: 0px 13px;
}
.sidebar header .image-text .image i{
    font-size: 35px;
    color: rgba(148, 44, 53, 0.85);
    font-weight: 500;

}
.sidebar header .header-text{
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
}
.sidebar header .header-text .name{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.6px;
}
.sidebar header .header-text .name1{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.6px;
    margin-top: -4px;
    color: #707070;
}
.sidebar header{
    position: relative;
}
.sidebar header .toggle{
    position: absolute;
    top: 55%;
    right: -55px;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background-color: rgba(148, 44, 53, 0.85) !important;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    padding: 5px;
    font-weight: 400;
}
.sidebar li a{
    display: flex;
    height: 100%;
    max-height: 40px;
    align-items: center;
    text-decoration: none;
    color: #707070;
    transition: all 0.2s ease;
    width: 100%;
    border-radius: 5px;
}
.sidebar li.active a,
.sidebar li a:hover{
    background-color: #fff;
    color: #5c97fe;
}

.sidebar li .text{
    font-size: 14px;
}
.sidebar li .icon,
.sidebar li .text{
    color: #707070;
    transition: all 0.2s ease;
    font-weight: 400;
}
.sidebar li.active a .icon,
.sidebar li.active a .text,
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: #4784f4;
    transition: all 0.2s ease;
}

.menu-bar .mode{
    background-color: #fff;
}
.menu-bar .mode:hover{
    background-color: #fff;
}

.container{
        width: 100%;
        max-width: 1060px;
        transform: translateX(11%);
        overflow: hidden;
        margin: 2% auto;
        z-index: 10000;
        height: 100vh;
        position: relative;
        top: 0px;
        left: 30px;
        transition: all 0.3s ease-in-out;
        flex-direction: column;
        padding-left: 1%;
}
.containers{
       width: 100%;
        max-width: 1210px;
        transform: translateX(3%);
        overflow: hidden;
        margin: 2% auto;
        height: 100vh;
        position: relative;
        top: 0px;
        transition: all 0.3s ease-in-out;
        flex-direction: column;
        padding-right: 2%;
        z-index: 100;

}
.container .tittle h2{
    font-weight: 600;
    font-size: 20px;
    color: #707070;
}

.container .flex-header{
    padding: 5px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    position: relative;
    
}
.container .flex-header .search-bar{
    width: 100%;
    max-width: 300px;
    box-shadow: 1px 1px 8px 0px #e6e5e5;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:6px 15px;
}
.container .flex-header .search-bar input{
    outline: none;
    padding: 5px 0px;
    border: none;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
}
.container .flex-header .search-bar i{
    font-size: 18px;
    font-weight: 600;
    color: #5c97fe;
    cursor: pointer;
    transition: all 0.2s ease;
}
.container .flex-header .search-bar i:hover{
    transform: scale(1.1);
}

.image-user{
    width: 100%;
    max-width: 230px;
    box-shadow: 1px 1px 8px 0px #e6e5e5;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:7px 15px;
    position: relative;
}
.image-user span{
    font-size: 13px;
    color: #707070;
    font-weight: 400;
}
.image-user .img{
    background-color: var(--body-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;  
}
.image-user .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.container .maincontent{
    width: 100%;
    padding:0px 25px;

}
.container .maincontent header{
    margin: 5px 0px;
}
.container .maincontent header span{
    color: #707070;
    font-size: 20px;
    font-weight: 500;
}
.container .maincontent .overview-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
}
.container .maincontent .overview-content .content{
    width: 250px;
    height: 110px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 0px #e2dfdf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #707070;
    font-weight: 600;
}
.list{
    width: 100%;
     margin: 10px 0px;
     display: flex;
     justify-content: space-between;

}
.list header span{
    color: #707070;
    font-weight: 700;
}
.list .listrow{
    width: 100%;
    max-width: 485px;
    background-color: #fff;
    height: 100%;
    margin-top: 30px;
    padding: 10px 15px;
    box-shadow: 1px 1px 8px 0px #bfbcbc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}
.list .listrow-td{
    display: flex;
    justify-content: space-between;
    padding: 10px 18px;
    margin: 3px 0px;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    transition:all  0.2s ease-in;
    color: #707070;
}
.list .listrow-td:hover{
    background-color: rgba(148, 44, 53, 0.85);
    color: #fff;
}
.list .listrow-td .img{
    width: 35px;
    height: 35px;
    background-color: var(--body-color);
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
}
.list .listrow-td .img img{
    width: 100%;
    height: 100%;
}
.list .listrow-td .name{
    font-size: 14px;
    font-weight: 400;
}
.list .listrow-td .year{
    font-size: 13px;
    font-weight: 400;
}



/* student content */


.student-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.student-content .add-student{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;

}
.btn-add{
    padding: 10px 7px;
    width: 100%;
    font-size: 11px;
    max-width: 100px;
    background-color:rgba(148, 44, 53, 0.85);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s ease;
}
.btn-add:hover{
    transform: scale(1.2);
}
.student-content .student-list{
    width: 100%;
}
.student-content .student-list .table{
   width: 100%;
   height: 50vh;
   overflow-y: scroll;
}
.student-list .table table{
    width: 100%;
    table-layout: auto;

}
.table table, th, td{
    border-collapse: collapse;
    padding: 10px 3px;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
}
.student-list .table .thead{
    width: 100%;
    color: #707070;
    border-bottom: 0.9px solid #e2dfdf;
}
.student-list .table .thead th{
    font-weight: 500;
}
.student-list tbody td .img{
    background-color: #707070;
    overflow: hidden;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.student-list tbody td .img img{
    width: 100%;
    height: 100%;
}
.student-list tbody td{
  border-bottom: 1px solid #e2dfdf;
  color: #707070;
}

.student-list tbody .actions i{
    cursor: pointer;
    font-size: 19px;
    color: #695CFE;
    transition: 0.3s ease;
}
.student-list tbody .actions i:hover{
    transform: scale(1.1);
}
.student-list tbody .actions i:nth-child(2){
    color: red;

}

/* update student modal */
.edit-student-popup{
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #c8c5c59b;
    z-index: 10000000;
    display: none;
    justify-content: center;
    align-items: center;
}
.edit-student-popup .form header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}
.edit-student-popup .form header i{
    font-size: 30px;
    cursor: pointer;
}
.edit-student-popup .form header i:hover{
    transform: scale(1.1);
}
.hidden{
    display: flex;
}
.edit-student-popup .form{
    width: 570px;
    height: 90vh;
    background-color: #fff;
    transform: translateY(-70%);
    animation: popmodal 1s forwards;
    box-shadow: 1px 11px 25px 0px #aaa;
    border-radius: 5px;
    overflow-y: scroll; /* Enable vertical scrollbar */
    /* Customize scrollbar */
    scrollbar-width: thin; 
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); 
}
.edit-student-popup .form::-webkit-scrollbar-track{
    background-color: red;
}
.edit-student-popup .form::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5); /* Darker grey */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid rgba(0, 0, 0, 0.1);
}
.edit-student-popup .form::-webkit-scrollbar-button{
    display: none;
}
.edit-student-popup .form::-webkit-scrollbar-corner{
    background-color: transparent;
}
@keyframes popmodal{
    from{
        transform: translateY(-70%);  
    }
    to{
        transform: translateY(0%);
    }
}
.edit-student-popup .form form{
    display: flex;
    padding: 30px 10px;
}
.edit-student-popup .form form .input-group{
    width: 50%;
}
.input-field{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}
.input-field input{
    padding: 10px 7px;
    outline: none;
    font-size: 11px;
    border: none;
    color: #707070;
    border-radius: 3px;
    box-shadow: 0px 1px 3px  rgb(132, 129, 129);
}
.input-field input::placeholder{
    color: #707070;
}
.input-field input:is(focus, :valid){
    box-shadow: 1px 2px 4px 1px rgba(111, 109, 113, 0.364);
}
.input-field span{
    font-size: 12px;
    font-weight: 500;
    color: #393838e8;
   
}
.input-field .select-menu{
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    flex-direction: column;

}
.select-menu span{
    font-size: 11px;
    font-weight: 400;
}
.select-menu .select-btn{
    width: 100%;
    padding: 0px 7px;
    outline: none;
    font-size: 11px;
    border: none;
    color: #707070;
    border-radius: 3px;
    box-shadow: 0px 1px 3px  rgb(132, 129, 129);
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}
.select-menu .options{
    width: 100%;
    height: 100px;
    position: relative;
    top: -40px;
    font-size: 13px;
    margin-top: 5px;
    background-color: #fff;
    box-shadow: 0px 1px 5px  rgb(132, 129, 129);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    transition:  0.3s ease;
    animation: dropdown 0.2s forwards;
    overflow-y: scroll;
    scrollbar-width: thin; 
    scrollbar-color: #707070; 
    border-inline-start-color: none;
    list-style: none;
}
@keyframes dropdown{
    from{
       top: -40px;
    }
    to{
        top: 0; 
    }
}
.options .option{
    padding: 10px 8px;
    margin: 5px;
}
.options .option:hover{
    background-color: #c5c3c3;
}
 .select-menu .select-btn{
    display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 10px;
     align-items: center;
}
.input-group .btn-submit{
    padding: 10px;
    margin: 8px 0px;
    border: none;
    background-color: rgba(148, 44, 53, 0.85);
    color: #fff;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.input-field button:hover{
    filter: brightness(1.1);
}
.form button:hover{
    filter: brightness(1.1) !important;
}
.addbtn{
    padding: 10px;
    margin: 8px 0px;
    border: none;
    background-color: rgba(148, 44, 53, 0.85);
    color: #fff;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.profile-pic{
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-pic .img{
    width: 150px;
   height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;

}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-pic input{
    opacity: 0;
    display: none;
}
.profile-pic .btn-upload{
    background-color: rgba(148, 44, 53, 0.85);
    width: 120px;
    border: none;
    outline: none;
    padding: 5px 5px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 11px;
    padding: 5px 8px;
    text-align: center;
    font-weight: 400;
}

.addnew-popups{
    width: 100%;
    height: 100vh;
    background-color: #0005;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;

}
.addnew-popups .popup-success{
    width: 200px;
    background-color: #ffff;
    box-shadow: 0px 3px 13px 0px gray;
    border-radius: 10px;
}
.popup-success button{
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    background-color: rgba(148, 44, 53, 0.85);
    color: #fff;
    cursor: pointer;
}
.popup-success button:hover{
    filter: brightness(1.1);
}




/* edit content */

.edit-container{
    width: 70%;
    display: flex;
}
.edit-container .input-group{
    width: 100%;
}


/* notification */
.admin-approaval-content{
    width: 100%;
    margin-top: 5%;
}
.admin-approaval-content table{
    width: 90%;
    padding: 20px 30px;
}
.student-list.notif{
    margin-top: 0px;
    width: 70%;
    padding: 10px 20px;
}
.student-list.notif a{
    width: 30px;
    height: 10px;
    padding: 5px;
    background-color: #121212;
    border-radius: 5px;
    color: #fff;
}
.student-list.notif a:nth-child(2){
    background-color: #1ac572;
}
.student-list.notif a:nth-child(3){
    background-color: #dd4242;
}
